body{
    background-color: rgb(29, 27, 26);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
    
  }
  h1 {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .move-icon {
    height: 50px;
  }
  .move-button {
    background-color:transparent;
    border-radius: 50%;
    width: 120px;   /* use booth height and width when pics are of diff sizes */
    height: 120px;    /* else use padding  */
    margin-right: 10px;
    border: 3px solid white;
    cursor: pointer;
  }

  .result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
  }
  .score {
    margin-top: 60px;
  }

  .reset-button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
  }