body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(255, 204, 0);

}

.showCalculation {
    color: white;
    font-size: 26px;
}

.numbers {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 1px 6px 1px 6px;
    font-size: 26px;
    cursor: pointer;
    margin-right: 5px;
}
.operation {
    background-color: rgb(255, 149, 0);
    color: white;
    border: none;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 1px 6px 1px 6px;
    font-size: 26px;
    cursor: pointer;
    margin-right: 5px;
}

.clear-button {
    background-color: white;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 50px;
    font-size: 22px;
}